<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Will's Advent of Code 2019 - Java / Spring Boot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!-- Todo: Use GOV.UK Design System to make this more pretty -->
<body>
<h1 th:text="'Will\'s Advent Of Code 2019 Answers For ' + ${headingSuffix}"/>

<div
    th:each="answer: ${answers}"
    th:class="'day' + ${answer.getDay()}"
>
    <h2 th:text="${answer.getHeading()}"/>
    <dl>
        <dt>Part 1:</dt>
        <dd class="part1" th:text="${answer.getAnswerPart1()}"/>
        <dt>Part 2:</dt>
        <dd class="part2" th:text="${answer.getAnswerPart2()}"/>
    </dl>
</div>
</body>
</html>
